Insufficient XML/JSON character escaping

For XML '<', '&', '>' (and in attributes '"' and "'") must be escaped.
In JSON '"', '\', (and some others) must be escaped.

XML: http://en.wikipedia.org/wiki/Valid_characters_in_XML
JSON: http://www.ietf.org/rfc/rfc4627.txt

I have a diff against 1.4.7, but the patch is incomplete, since proper character encoding is missing, which would require the use of iconv() when reading and writing data.

``` diff
--- a/src/rrd_tool.c
+++ b/src/rrd_tool.c
@@ -399,6 +399,68 @@ static char *fgetslong(
     return *aLinePtr = 0;
 }

+static void print_json(const char *c) {
+       /* Escape JSON according to RFC 4627 */
+       for (;*c;c++) {
+               switch (*c) {
+               case '"':
+               case '\\':
+               case '/':
+                       putchar('\\');
+                       putchar(*c);
+                       break;
+               case '\b':
+                       printf("\\b");
+                       break;
+               case '\f':
+                       printf("\\f");
+                       break;
+               case '\n':
+                       printf("\\n");
+                       break;
+               case '\r':
+                       printf("\\r");
+                       break;
+               case '\t':
+                       printf("\\t");
+                       break;
+               default:
+                       if (*c < 0x20)
+                               printf("\\u%04x", *c);
+                       else
+                               putchar(*c);
+               }
+       }
+}
+
+static void print_xml(const char *c) {
+       /* Escape XML according to REC-xml */
+       for (;*c;c++) {
+               switch (*c) {
+               case '"':
+                       printf("&quot;");
+                       break;
+               case '&':
+                       printf("&amp;");
+                       break;
+               case '\'':
+                       printf("&apos;");
+                       break;
+               case '<':
+                       printf("&lt;");
+                       break;
+               case '>':
+                       printf("&gt;");
+                       break;
+               default:
+                       if (*c < 0x20)
+                               printf("&#%d;", *c);
+                       else
+                               putchar(*c);
+               }
+       }
+}
+
 int main(
     int argc,
     char *argv[])
@@ -772,15 +834,18 @@ int HandleInputLine(
                 char     *entry = NULL;
                 entry = legend_v[j];
                 if (json){
-                    printf("      \"%s\"", entry);
+                    printf("      \"");
+                    print_json(entry);
+                    printf("\"");
                     if (j < col_cnt -1){
                         printf(",");
                     }
                     printf("\n");
                 }
                 else {
-                    printf("      <%s>%s</%s>\n", LEGEND_ENTRY_TAG, entry,
-                       LEGEND_ENTRY_TAG);
+                    printf("      <%s>", LEGEND_ENTRY_TAG);
+                    print_xml(entry);
+                    printf("</%s>\n", LEGEND_ENTRY_TAG);
                 }
                 free(entry);
             }
```


Still an issue... it's 2021 now

@ShyLionTjmn Concerning JSON, escaping is implemented in `rrd_xport.c`:
https://github.com/oetiker/rrdtool-1.x/blob/ec0227272cf04726aebf71819551806e6da27322/src/rrd_xport.c#L962
So far, the cases `'"'` and `'\\'` are handled.

@ShyLionTjmn could you please describe the remaining issue concerning character escaping in detail and ideally provide an example to reproduce? Thanks.

Well, problem i was talking about is with graph command.

Example code:

`rrdtool graph test.json \
  --imgformat JSONTIME \
  -s now-1h \
  -e now \
  "DEF:tx=test.rrd:tx:AVERAGE" \
  "DEF:rx=test_rrd:rx:AVERAGE" \
  'LINE1:tx#FF0000:tx "boo"' \
  'LINE2:rx#00FF00:rx "moo"'
`

Resulting JSON (part with legend):
`{ "about": "RRDtool graph JSON output",
  "meta": {
    "start": 1625116980,
    "end": 1625120580,
    "step": 60,
    "legend": [
      "tx "boo"",
      "rx "moo""
          ]
    ,"gprints": [
        { "line": "tx "boo"" },
        { "line": "rx "moo"" }
        ]
     },
  "data": [
`

As you can see, text wasn't properly escaped and produced JSON is invalid.


RRDtool 1.7.2

@ShyLionTjmn thanks for providing the details. Double quotes in legend entries are currently not escaped. Please try the following patch from PR #1125:
https://patch-diff.githubusercontent.com/raw/oetiker/rrdtool-1.x/pull/1125.patch

Opened #1311 with a fix -- escapeJSON now escapes all control characters (U+0000-U+001F) per RFC 7159 section 7, using \uXXXX notation for non-printable chars and named escapes for the common ones (\n, \t, etc.). Truncation logic also rewritten to avoid splitting mid-escape sequence.